.countriesWindow{
    display: flex;
}

.panelLeft{
    flex-shrink: 0;
    width: 50%;
    height: 700px;
    overflow-y: auto;
    border: none;
    border-radius: 10px;
    margin: 10px 15px;
    background: #e7e7fd;
    color: #282c34;
}

.panelRight {
    flex-shrink: 0;
    width: 50%;
    margin: 10px 0;
    border: 2px solid #e7e7fd;
    border-radius: 10px;
    padding: 0 50px;
}

.capital{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.capital p{
    margin-left: 5px;
    font-weight: normal;
}
